*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1{
    padding-top: 70px;
    color:rgb(254, 250, 244);
    text-shadow: 2px 2px 2px rgb(255, 168, 7);
    font-family: sans-serif;
    text-align: center;
    height: 100px;
    width: 50%;
    margin: auto;
    font-size: 60px;
    letter-spacing: 10px;
   
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(91, 97, 102);
}

.logo{
    padding-left: 60px;
}

.menu{
    padding-right: 60px;
}
a{
    color: bisque;
    text-decoration: none;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

#p11{
    text-align: end;
    padding: 7px;
    color: antiquewhite;
}

#div1{
   background-image: url(../imgs/1.jpg) ;
   background-size:cover ;
   text-align: justify;
   text-align: center;
   font-family: Arial;
   font-size: 15px;
   height: 1000px;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   margin-bottom: 20px;
}

#p1{
    font-size: 50px;
    padding-top: 500px;
    padding-bottom: 50px;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
}

#input1{
    margin-top: 30px;
}

#p2{  
   
    text-transform: capitalize;
    font-weight: bold;
    padding-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#div2{
    width: auto;
    height: 1000px;
   background-color: antiquewhite;
   
    
}

#img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 150px;
}

#h3n1{
    text-align: center;
    padding: 10px;
}

#p3{
    text-align:center;
}

#img2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 150px;
}
#h3n2{
    text-align: center;
    padding: 10px;
}

#p4{
    text-align: center;
}

#img3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 150px;
}

#p5{
    text-align: center;
    padding: 15px;
}

#div3{
    background-color:rgba(243, 241, 169, 0.802);
    border-radius: 50px;
    margin: 20px;
}

#h3n3{
    text-align: center;
    padding: 20px;
}
 
#p6{
    text-align: center;
    border: salmon;
    border-style: solid;
    padding: 10px;

}

#p7{
    text-align:center;
    padding: 20px;
}

img{
    border-radius: 20px;
    padding: 4px;
}

#div4{
    background-color: grey;
    padding-bottom: 10px;
}

#p8{
    padding-top: 20px;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
}

#p9{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#div5{
    background-color:rgba(120, 31, 31, 0.842);
    margin-bottom: 50px;
}

#p10{
    color: antiquewhite;
    text-align: center;
    padding-bottom: 10px;
    text-shadow: 2px 2px 2px rgb(255, 168, 7);
}

#img4{
   text-align: center;
   color: aliceblue;
}